/*------------------------------------------------------------------------------
  YITH Request a Quote for WooCommerce

   1. Global
   2. RAQ Page
   3. Responsive
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
  1. Global
------------------------------------------------------------------------------*/
.ajax-loading,
.product-remove a.yith-ywraq-item-remove.remove {
    display: inline-block;
}

.product-remove .ajax-loading {
    vertical-align: text-bottom;
}

.woocommerce .related ul li.product img, .woocommerce .related ul.products li.product img.ajax-loading {
    width: auto;
}

.yith-ywraq-add-to-quote a, .yith_ywraq_add_item_browse_message a {
    font-size: 1.2rem !important;
    font-weight: 600;
    margin: 0 auto;
}

.yith_ywraq_add_item_browse_message a:after {
    display: none !important;
}

/*------------------------------------------------------------------------------
  2. RAQ Page
------------------------------------------------------------------------------*/

.ywraq-form-table-wrapper.wide {
    align-content: space-evenly;
    align-items: baseline;
    display: flex;
    flex: 0 0 auto;
}

.ywraq-form-table-wrapper.wide .yith-ywraq-mail-form-wrapper {
    flex-basis: 48%;
    margin-left: 5%;
}

.ywraq-form-table-wrapper.wide form#yith-ywraq-form {
    flex-basis: 48%;
}

.ywraq-form-table-wrapper .yith-ywraq-mail-form-wrapper {
    padding: 25px;
}

input#rqa_privacy {
    display: table-cell;
}

#rqa_privacy_row label {
    display: table-cell;
    margin-left: 10px;
    vertical-align: middle;
    padding-left: 10px;
}

#rqa_privacy_row {
    display: table;
}

/*------------------------------------------------------------------------------
  3. Responsive
------------------------------------------------------------------------------*/

@media (max-width: 768px) {
    .ywraq-form-table-wrapper.wide {
        display: block;
    }

    .ywraq-form-table-wrapper.wide .yith-ywraq-mail-form-wrapper {
        margin-left: 0;
    }
}